@model PlayYourCV.Models.Contenido

@{
    string titulo = (string)ViewData["Titulo"];
    List<PlayYourCV.Models.Contenido> listaIdiomas = (List<PlayYourCV.Models.Contenido>)ViewData["listaIdiomas"];
}
<div class="col-md-12">
    <div class="col-md-10">
        <h2>@titulo</h2>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-default" onclick="add()">Agregar Idioma</button>
    </div>
</div>
@{
    if (listaIdiomas != null)
    {
        foreach (PlayYourCV.Models.Contenido c in listaIdiomas)
        {
            <div class="jumbotron">
                <div class="col-sm-10">
                    <h3>@c.Nombre</h3>
                </div>

                <div class="col-sm-1">
                    <button type="button" class="btn btn-danger" onclick="deleteLanguage(@c.Id)">Eliminar</button>
                </div>

                <div class="col-sm-1">
                    <button type="button" class="btn btn-success" onclick="editLanguage(@c.Id)">Editar</button>
                </div>
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(model => model.Hablado)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Escrito)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Leido)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.NivelGeneral)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@c.Hablado</td>
                            <td>@c.Escrito</td>
                            <td>@c.Leido</td>
                            <td>@c.NivelGeneral</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    }
    <!--prueba visual-->
    <div class="jumbotron col-sm-12">

        <div class="col-sm-10">
            <h3>Nombre Idioma</h3>
        </div>

        <div class="col-sm-1">
            <button type="button" class="btn btn-danger" onclick="deleteLanguage(1)">Eliminar</button>
        </div>

        <div class="col-sm-1">
            <button type="button" class="btn btn-success" onclick="editLanguage(1)">Editar</button>
        </div>

        <table class="table-striped">
            <thead>
                <tr>
                    <th scope="col">Hablado</th>
                    <th scope="col">Escrito</th>
                    <th scope="col">Leido</th>
                    <th scope="col">Nivel General</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Intermedio</td>
                    <td>Intermedio</td>
                    <td>Intermedio</td>
                    <td>Intermedio</td>
                </tr>
            </tbody>
        </table>

    </div>
    <!--boton agregar-->

}
<script>
    function deleteLanguage(i) {
        res = confirm('¿Estás seguro de querer eliminar este idioma?');
        if (res) {
            window.location.replace("/Idiomas/Delete/" + i);
        }
    }
    function add(i) {
        window.location.replace("/Idiomas/Create/");
    }
    function editLanguage(i) {
        window.location.replace("/Idiomas/Edit/" + i);
    }
    window.onload = function () {
        if (
            window.location.href.split("/")[window.location.href.split("/").length - 1] != "Index"
        ) {
            window.location.replace("/Idiomas/Index");
        }
    }
</script>