@model PlayYourCV.Models.Contenido

@{
    string titulo = (string)ViewData["Titulo"];
    string lvlProgress = ViewData["lvlProgress"].ToString();
    string lvlImg = ViewData["imgLvlRoute"].ToString();
    List<PlayYourCV.Models.Contenido> listaIdiomas = (List<PlayYourCV.Models.Contenido>)ViewData["listaIdiomas"];
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <h2>@titulo</h2>
        </div>
        <div class="col-xs-6 col-md-2">
            <div class="bityconsejo"><img class="Bityicon img-responsive" src="~/Content/images/mascota/Bityhelp_ani.gif" type="button" data-toggle="modal" data-target="#Bitymodal" /></div>
        </div>
        <div class="col-xs-6 col-md-offset-6 col-md-2">
            <button type="button" class="btn btn-info" onclick="add()" data-toggle="modal" data-target="#editModal">Agregar Idioma</button>
        </div>
    </div>
    <!-- Modal Bity-->
    <div class="modal fade" id="Bitymodal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <div class="img-mascota">
                        <img class="BityAnimado img-responsive center-block" src="~/Content/images/mascota/Robot_4.png" />

                        <p style="margin-top:20px;font-weight: 600;">
                            No mientas, pon el nivel que tengas actualmente. <br />
                        </p>
                        <p>
                        Ten en cuenta que, si te llaman y te piden que les hables en un idioma que has puesto en tu CV y no eres capaz de demostrar el nivel que has dicho, conseguiras que la empresa obtenga una mala imagen de ti.
                        </p>
                    </div>

                </div>

                <!--Cerrar Model Content-->
            </div>

        </div>
    </div>
    <!--FIN MODAL-->

    @{
        if (listaIdiomas != null)
        {
            foreach (PlayYourCV.Models.Contenido c in listaIdiomas)
            {
                <div class="jumbotron col-md-12">
                    <div class="col-sm-10">
                        <h3 style="font-family: quicksand;color: #58B9B3;">@c.Nombre</h3>
                    </div>

                    <div class="col-sm-1" style="color:gray; padding:0px; padding-top:15px; text-align:center">

                        <i type="button" onclick="deleteLanguage(@c.Id)" class="boton far fa-trash-alt fa-2x"></i>

                    </div>

                    <div class="col-sm-1" style="color:#7ECFE3; padding:0px; padding-top:15px;">

                        <i type="button" onclick="editLanguage(@c.Id,'@c.Nombre','@c.Hablado','@c.Escrito','@c.Leido','@c.NivelGeneral')" data-toggle="modal" data-target="#editModal" class="boton fas fa-edit fa-2x"></i>
                    </div>

                    <div class="col-lg-12">
                        <table class="table-striped">
                            <thead style="background-color: #58B9B3;">
                                <tr>
                                    <th class="tablath">@Html.DisplayNameFor(model => model.Hablado)</th>
                                    <th class="tablath">@Html.DisplayNameFor(model => model.Escrito)</th>
                                    <th class="tablath">@Html.DisplayNameFor(model => model.Leido)</th>
                                    <th class="tablath">@Html.DisplayNameFor(model => model.NivelGeneral)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tablatd">@c.Hablado</td>
                                    <td class="tablatd">@c.Escrito</td>
                                    <td class="tablatd">@c.Leido</td>
                                    <td class="tablatd">@c.NivelGeneral</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    }

    <!-- Modal Edit -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal Edit content-->
            <div class="modal-content" style="height:475px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edita este idioma</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <form id="editModalForm" name="editForm" action="/Hobbies/Edit" method="post">
                            <div class="col-md-12 divsforms">
                                <input type="text" style="display:none" class="form-control" id="idInput" name="Id" value="" />
                                <label for="Nombre">Nombre:</label>
                                <input type="text" class="form-control" id="nombreInput" name="Nombre" value="" />
                            </div>
                            <div class="col-md-12 divsforms">
                                <label for="Hablado">Nivel Hablado:</label>
                                <input type="text" class="form-control" id="habladoInput" name="Hablado" value="" />
                            </div>
                            <div class="col-md-12 divsforms">
                                <label for="Escrito">Nivel Escrito:</label>
                                <input type="text" class="form-control" id="escritoInput" name="Escrito" value="" />
                            </div>
                            <div class="col-md-12 divsforms">
                                <label for="Leido">Nivel Leido:</label>
                                <input type="text" class="form-control" id="leidoInput" name="Leido" value="" />
                            </div>
                            <div class="col-md-12 divsforms">
                                <label for="NivelGeneral">Nivel General:</label>
                                <input type="text" class="form-control" id="generalInput" name="NivelGeneral" value="" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-8 col-md-3">
                        <input id="btnEditForm" type="submit" value="Guardar cambios" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>

    function deleteLanguage(i) {
        res = confirm('¿Estás seguro de querer eliminar este idioma?');
        if (res) {
            window.location.replace("/Idiomas/Delete/" + i);
        }
    }

    function add() {
        document.editForm.action = "/Idiomas/Create";
        document.getElementById("idInput").value = "";
        document.getElementById("nombreInput").value = "";
        document.getElementById("habladoInput").value = "";
        document.getElementById("escritoInput").value = "";
        document.getElementById("leidoInput").value = "";
        document.getElementById("generalInput").value = "";
    }

    function editLanguage(id, nombre, hablado, escrito, leido, general) {
        document.editForm.action = "/Idiomas/Edit";
        document.getElementById("idInput").value = id;
        document.getElementById("nombreInput").value = nombre;
        document.getElementById("habladoInput").value = hablado;
        document.getElementById("escritoInput").value = escrito;
        document.getElementById("leidoInput").value = leido;
        document.getElementById("generalInput").value = general;
    }

    window.onload = function () {
        if (
            window.location.href.split("/")[window.location.href.split("/").length - 1] != "Index"
        ) {
            window.location.replace("/Idiomas/Index");
        }
    }

    form = document.getElementById("editModalForm");
    document.getElementById("btnEditForm").addEventListener("click", function () {
        form.submit();
    });

    progBar = document.getElementById("progressBarLvl");
    progBar.style.width = @lvlProgress+"%";
    progBar.innerHTML +=@lvlProgress+"%";
    document.getElementById("imgLvl").src ='@lvlImg';

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
