@model IEnumerable<PlayYourCV.Models.Contenido>

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpresaEscuela)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lugar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posicion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hablado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Escrito)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Leido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NivelGeneral)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpresaEscuela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hablado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelGeneral)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
