@model PlayYourCV.Models.Usuario

@{
    ViewData["Title"] = "Index";
}


<h2>Login de prueba</h2>


    <!-- LOGIN MODULE -->
    <div class="login">
        <div class="wrap">

            <!-- SLIDER -->
            <div class="content">

                <!-- SLIDESHOW -->
                <div id="slideshow">
                    <div class="one">
                        <h2><span>Marca tu futuro</span></h2>
                        <p>Blablabla</p>
                    </div>
                    <div class="two">
                        <h2><span>Superate</span></h2>
                        <p>Consigue tus objetivos</p>
                    </div>
                    <div class="three">
                        <h2><span>Diseña tu CV</span></h2>
                        <p>blablabla</p>
                    </div>
                    <div class="four">
                        <h2><span>Conócete</span></h2>
                        <p>Blablabla</p>
                    </div>
                </div>
            </div>
            <!-- LOGIN FORM -->
            <div class="user">

                <div class="form-wrap">
                    <!-- TABS -->
                    <div class="tabs">
                        <h3 class="login-tab"><a class="log-in active" href="#login-tab-content" style="text-decoration:none;"><span>Iniciar Sesión</span></a></h3>
                        <h3 class="signup-tab"><a class="sign-up" href="#signup-tab-content" style="text-decoration:none;"><span>Regístrate</span></a></h3>
                    </div>
                    <!-- TABS CONTENT -->
                    <div class="tabs-content">
                        <!-- TABS CONTENT LOGIN -->

                        <div id="login-tab-content" class="active">
                            <form class="login-form" action="/Login/Index" method="POST">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <input name="Email" type="email" class="input" id="user_login" autocomplete="off" placeholder="Email"  required/>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                <input name="Contrasenya" type="password" class="input" id="user_pass" autocomplete="off" placeholder="Contraseña"  required/>
                                @Html.ValidationMessageFor(model => model.Contrasenya, "", new { @class = "text-danger" })

                                <input type="checkbox" class="checkbox" checked id="remember_me">
                                <label for="remember_me">Recuérdame</label>
                                <input type="submit" class="button" value="Entrar">
                            </form>


                        </div>

                        <!-- TABS CONTENT SIGNUP -->
                        <div id="signup-tab-content">
                            <form class="signup-form" action="/Login/Registro" method="post">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <input name="Nombre" type="text" class="input" id="user_name" autocomplete="off" placeholder=Nombre required/>
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })

                                <input name="Email" type="email" class="input" id="user_email" autocomplete="off" placeholder="Email" required/>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                <input name="Contrasenya" type="password" class="input" id="user_pass" autocomplete="off" placeholder="Contraseña" required/>
                                @Html.ValidationMessageFor(model => model.verificarcontra, "", new { @class = "text-danger" })

                                <input name="verificarcontra" type="password" class="input" id="confirm_pass" autocomplete="off" placeholder="Confirmar Contraseña"  required/>
                                @Html.ValidationMessageFor(model => model.verificarcontra, "", new { @class = "text-danger" })

                                <input type="submit" class="button" value="Registrar">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
