@model PlayYourCV.Models.Contenido

@{
    ViewData["Title"] = "Index";
    List<PlayYourCV.Models.Contenido> listaAdi = (List<PlayYourCV.Models.Contenido>)ViewData["lista"];
    string lvlProgress = ViewData["lvlProgress"].ToString();
    string lvlImg = ViewData["imgLvlRoute"].ToString();
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10">
            <h2>Datos Adicionales</h2>
        </div>
        <div class="col-xs-12 col-md-2">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myCreate">Añadir nuevo</button>
        </div>
    </div>

    @{
        if (listaAdi != null)
        {
            foreach (PlayYourCV.Models.Contenido c in listaAdi)
            {
    <div class="jumbotron col-sm-12">

        <div class="col-md-10">
            <h3>@c.Nombre</h3>
            <input type="hidden" class="ideditable" value="@c.Id" />
        </div>

        <div class="col-sm-1" style="color:gray; padding:0px; padding-top:15px; text-align:center">
            <i type="button" onclick="deleteExp(@c.Id)" class="boton far fa-trash-alt fa-2x"></i>
        </div>
        <div class="col-sm-1" style="color:#7ECFE3; padding:0px; padding-top:15px">
            <i type="button" data-toggle="modal" data-target="#myEdit" class="boton fas fa-edit fa-2x mostraedit"></i>
        </div>

    </div>

            }
        }
    }


    <!-- Modal Edit -->
    <div id="myEdit" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal Edit content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edita este dato</h4>
                </div>
                <div class="modal-body">

                    @using (Html.BeginForm("Edit", "DatosAdicionales", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id, htmlAttributes: new { @id = "id_objectiu" })

                            <div class="form-group">
                                <label class="control-label col-md-2">Nombre Skill</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @id = "nom_objectiu" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal Create -->
<div id="myCreate" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal Create content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nuevo Dato</h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Create", "DatosAdicionales", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">Título</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Crear" class="btn btn-default" />
                            </div>
                        </div>
                    </div>

                }

            </div>

        </div>
    </div>
</div>




<script>
    function deleteExp(i) {
        res = confirm('¿Estás segura de querer eliminar esta habilidad?');
        if (res) {
            window.location.replace("/DatosAdicionales/Delete/" + i);
        }
    }
    function add(i) {
        window.location.replace("/DatosAdicionales/Create/");
    }
    function editExp(i) {
        window.location.replace("/DatosAdicionales/Edit/" + i);
    }
    window.onload = function () {
        if (
            window.location.href.split("/")[window.location.href.split("/").length - 1] != "Index"
        ) {
            window.location.replace("/DatosAdicionales/Index");
        }
    }

    $(document).on("click", ".mostraedit", function () {
        $("#nom_objectiu").val($(this).closest(".jumbotron").find(".nomeditable").text());
        $("#id_objectiu").val($(this).closest(".jumbotron").find(".ideditable").val());
    });

    progBar = document.getElementById("progressBarLvl");
    progBar.style.width = @lvlProgress+"%";
    progBar.innerHTML +=@lvlProgress+"%";
    document.getElementById("imgLvl").src ='@lvlImg';
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
