@model PlayYourCV.Models.Contenido

@{
    string titulo = (string)ViewData["Titulo"];
    PlayYourCV.Models.Contenido c = (PlayYourCV.Models.Contenido)ViewData["Educacion"];
    string fechaI, fechaF;
    if (c.FechaInicio.Equals(default(DateTime)))
    {
        fechaI = "";
    }
    else
    {
        fechaI = c.FechaInicio.ToString("yyyy-MM-dd");
    }
    if (c.FechaFin.Equals(default(DateTime)))
    {
        fechaF = "";
    }
    else
    {
        fechaF = c.FechaFin.ToString("yyyy-MM-dd");
    }
}

<h2>@titulo</h2>
<form action="/Educacion/Edit" method="post">
    <div class="form-horizontal col-md-12">
        <input type="text" class="form-control" style="display:none" name="Id" value="@c.Id" />
        <div class="form-group col-md-12">
            <label for="Nombre">Nombre:</label>
            <input type="text" class="form-control" name="Nombre" value="@c.Nombre" />
        </div>

        <div class="form-group col-md-12">
            <label for="Descripcion">Descripcion:</label>
            <input type="text" class="form-control" name="Descripcion" value="@c.Descripcion" />
        </div>

        <div>
            <div class="form-group col-md-5">
                <label for="EmpresaEscuela">Escuela:</label>
                <input type="text" class="form-control" name="EmpresaEscuela" value="@c.EmpresaEscuela" />
            </div>

            <div class="form-group col-md-offset-2 col-md-5">
                <label for="Lugar">Lugar:</label>
                <input type="text" class="form-control" name="Lugar" value="@c.Lugar" />
            </div>
        </div>

        <div>
            <div class="form-group col-md-5">
                <label for="FechaInicio">Fecha Inicio:</label>
                <input type="date" class="form-control" name="FechaInicio" value="@fechaI" />
            </div>

            <div class="form-group col-md-offset-2 col-md-5">
                <label for="FechaFin">Fecha Fin:</label>
                <input type="date" class="form-control" name="FechaFin" value="@fechaF" />
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Guardar cambios" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>