@model IEnumerable<PlayYourCV.Models.Contenido>
@{
    string titulo = (string)ViewData["Titulo"];
    List<Contenido> listaIdiomas = (List<Contenido>)ViewData["listaIdiomas"];
}

<h2>@titulo</h2>
@{
    if (listaIdiomas!=null)
    {
        foreach (Contenido c in listaIdiomas)
        {
            <div class="jumbotron">
                <h3>@c.Nombre</h3>
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(model => model.Hablado)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Escrito)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Leido)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.NivelGeneral)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@c.Hablado</td>
                            <td>@c.Escrito</td>
                            <td>@c.Leido</td>
                            <td>@c.NivelGeneral</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }

    }
    <!---->
    <div class="jumbotron">
        <h3>Nombre Idioma</h3>
        <table class="table-striped">
            <thead>
                <tr>
                    <th scope="col">Hablado</th>
                    <th scope="col">Escrito</th>
                    <th scope="col">Leido</th>
                    <th scope="col">Nivel General</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Intermedio</td>
                    <td>Intermedio</td>
                    <td>Intermedio</td>
                    <td>Intermedio</td>
                </tr>
            </tbody>
        </table>
    </div>
}