@model PlayYourCV.Models.Contenido

@{
    string titulo = (string)ViewData["Titulo"];
    List<PlayYourCV.Models.Contenido> listaEducacion = (List<PlayYourCV.Models.Contenido>)ViewData["listaEducacion"];
}

<div class="col-md-12">
    <div class="col-md-10">
        <h2>@titulo</h2>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-default" onclick="add()">Agregar Formacion</button>
    </div>
</div>
@{
    if (listaEducacion != null)
    {
        foreach (PlayYourCV.Models.Contenido c in listaEducacion)
        {
            <div class="jumbotron col-sm-12">

                <div class="col-sm-6">
                    <h3>@c.Nombre</h3>
                </div>
                <div class="col-sm-3">
                    <label>Fecha Inicio : @String.Format("{0:d}",c.FechaInicio)</label>
                </div>
                <div class="col-sm-3">
                    <label>Fecha Fin : @String.Format("{0:d}", c.FechaFin)</label>
                </div>
                <div class="col-md-12">
                    <p>@c.Descripcion</p>
                </div>
                <div class="col-md-4">
                    <p>Local : @c.EmpresaEscuela</p>
                </div>
                <div class="col-md-8">
                    <p>Lugar : @c.Lugar</p>
                </div>
                <div class="col-sm-12" style="text-align:end">
                    <button type="button" class="btn btn-danger" onclick="deleteCourse(@c.Id)">Eliminar</button>
                    <button type="button" class="btn btn-success" onclick="editCourse(@c.Id)">Editar</button>
                </div>

            </div>
        }
    }
}

<script>
    function deleteCourse(i) {
        res = confirm('¿Estás seguro de querer eliminar esta formacion?');
        if (res) {
            window.location.replace("/Educacion/Delete/" + i);
        }
    }
    function add(i) {
        window.location.replace("/Educacion/Create/");
    }
    function editCourse(i) {
        window.location.replace("/Educacion/Edit/" + i);
    }
    window.onload = function () {
        if (
            window.location.href.split("/")[window.location.href.split("/").length - 1] != "Index"
        ) {
            window.location.replace("/Educacion/Index");
        }
    }
</script>
