
@model PlayYourCV.Models.Objetivo

@{
    string titulo = (string)ViewData["Titulo"];
    List<PlayYourCV.Models.Objetivo> listaObjetivos = (List<PlayYourCV.Models.Objetivo>)ViewData["listaObjetivos"];
    List<PlayYourCV.Models.Categoria> listaCategorias = (List<PlayYourCV.Models.Categoria>)ViewData["listaCategorias"];
}

@helper ifchildhelper(int idCaller, List<PlayYourCV.Models.Objetivo> listaObjetivos, List<PlayYourCV.Models.Categoria> listaCategorias)
{
    bool hasChilds = false;
    foreach (PlayYourCV.Models.Objetivo o in listaObjetivos)
    {
        if (o.IdPadre == idCaller)
        {
            hasChilds = true;
        }
    }
    if (hasChilds)
    {
        <ul class="list">
            @{foreach (PlayYourCV.Models.Categoria c in listaCategorias)
                {
                    <li>@c.Nombre</li>
                    <ul class="list">
                        @foreach (PlayYourCV.Models.Objetivo o in listaObjetivos)
                        {
                            if (o.IdPadre == idCaller && o.IdCategoria == c.Id)
                            {
                                <li>@o.Descripcion</li>
                                @ifchildhelper(o.Id, listaObjetivos, listaCategorias);
                            }
                        }
                        <li onclick="showModal(@idCaller,@c.Id)" class="add" data-toggle="modal" data-target="#myModal" style="cursor: pointer">Add +</li>
                    </ul>
                }
            }
        </ul>
    }
}

@{
    if (listaObjetivos.Count>0 && listaCategorias != null)
    {
        int idPrimaria = -1;
        <ul class="list">
        @{
            foreach (PlayYourCV.Models.Objetivo o in listaObjetivos)
            {
                if (o.Primaria)
                {
                    idPrimaria = o.Id;
                    <li>@o.Descripcion</li>
                    <ul class="list">
                    @{foreach (PlayYourCV.Models.Categoria c in listaCategorias)
                    {
                        <li>@c.Nombre</li>
                        <ul class="list">
                            @foreach (PlayYourCV.Models.Objetivo oChild in listaObjetivos)
                            {
                                if (oChild.IdPadre == idPrimaria && oChild.IdCategoria == c.Id)
                                {
                                    <li>@oChild.Descripcion</li>
                                    @ifchildhelper(oChild.Id, listaObjetivos, listaCategorias);
                                }
                            }
                            <li onclick="showModal(@idPrimaria,@c.Id)" class="add" data-toggle="modal" data-target="#myModal" style="cursor: pointer">Add +</li>
                        </ul>
                    }
                    }
                    </ul>
                }
            }
        }
        </ul>
    }
}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Añade un objetivo</p>
                <div class="form-group">
                    <div>
                        <form id="modalForm" action="/Objetivos/AddSubobjetive" method="post">
                            <input type="text" class="form-control" id="padre" name="IdPadre" value="" />
                            <input type="text" class="form-control" id="cat" name="IdCategoria" value="" />
                            <input type="text" class="form-control" name="Descripcion" value="" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div data-dismiss="modal">
                    <input id="btnForm" type="submit" value="Crear" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function showModal(idPadre, idCategoria) {
        document.getElementById("padre").value = idPadre;
        document.getElementById("cat").value = idCategoria;
        modal = document.getElementById('myModal');
    }

    form = document.getElementById("modalForm");
    document.getElementById("btnForm").addEventListener("click", function () {
        form.submit();
    });
</script>

